@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: #5D5D7D;
}

.wrapper{
    height: 100vh;
    width: 100vw;
}

.container-left{
    display: inline-block;
    width: 60%;
    margin-top: 17%;
    padding-left: 136px;
}

.container-right{
    display: inline-block;
    background-color: rgba(93,93,125,0.16);
    height: 100vh;
    width: 40%;
    position: absolute;

}

img{
    position: relative;
    top: 26%;
    right: 15%;
    bottom: 10%;
}

h1{
    font-size: 70px;
    line-height: 80px;
    width: 368px;
}

p{
    font-size: 28px;
    line-height: 48px;
    opacity: 0.6;
    margin: 15px 0px;
    width: 548px;
}

button{
    height: 62px;
    width: 269px;
    background: #9499EA;
    box-shadow: 6px 18px 24px rgba(148, 153, 234, 0.0979959);
   
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFF;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

button:hover{
    opacity: .8;
}

button:active{
    opacity: .5;
}

a{
    font-size: 30px;
    line-height: 41px;
    color: #5D5D7D;
   margin-right: 41px;
   cursor: pointer;
}

a:nth-child(2) {
opacity: .4;
}

a:hover{
    opacity: .4;
}

a:active{
    opacity: .8;
}

header{
    margin: 24px 0 0 57px;
}

@media screen and (max-width:900px) {
    .container-left{
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right{
        display: block;
        width: 100%;
        height: auto;
        position: static;
    }
    img {
        position: static;
        width: 90%;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p {
        margin: 15px 40px;
        text-align: center;
        width: auto;
        font-size: 14px;
        line-height: 24px;
    }

    button {
        margin: 0 auto;
        display: block;
    }
}
